<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="eform.css" />
  <title>CLARA_WEB</title>
  <script src="../static/script.js"></script>
</head>
<body>
   <nav class="nav">
    <a href="home.html">
      <div class="navlogo">
      <p>CLARA</p>
      </div>
    </a>
    <div class="nav-menu">
      <ul>
        <li><a href="http://127.0.0.1:5000/templates/home.html" class="link">Home</a></li>
        <li><a href="http://127.0.0.1:5050/" class="link">Screen</a></li>
        <li><a href="http://127.0.0.1:5000/templates/eform.html" class="link active">Form</a></li>
        <li><a href="http://127.0.0.1:5000/templates/history.html" class="link">History</a></li>
        <li><a href="http://127.0.0.1:5000/templates/chat.html" class="link">ChatBot</a></li>
      </ul>
    </div>
    <a href="!SignIn.html">
      <div class="sn">
        <div class="snb">
          <i class='bx bxs-user'></i>
          <h3>CLARA</h3>
        </div>
      </div>
    </a>
    <div class="dropdown-container">
      <button id="menuToggle" class="menu-btn"><i class='bx bx-menu'></i></button>
      <div id="dropdownMenu" class="dropdown-menu">
        <a href="http://127.0.0.1:5000/templates/tele.html">TeleMed</a>
        <a href="http://127.0.0.1:5000/templates/spec.html">Spectro</a>
        <a href="http://127.0.0.1:5000/templates/info.html">Info</a>
      </div>
    </div>
   </nav>

   <section class="main-section">
    <div class="box-wrapper">
      <div class="text-box">
        <h1>Start Your Risk Assessment</h1>
        <i class='bx bxs-objects-vertical-bottom'></i>
        <p>Fill out the form to assess your risk of liver cancer using our AI-powered tool.</p>
        <a href="http://127.0.0.1:5000/templates/form.html" class="btn-screen">Start Now</a>
      </div> 
    </div>
  </section>
  <script>
    const toggleBtn = document.getElementById('menuToggle');
    const dropdownMenu = document.getElementById('dropdownMenu');

    toggleBtn.addEventListener('click', () => {
      dropdownMenu.classList.toggle('show-menu');
    });

    document.addEventListener('click', (event) => {
      if (!toggleBtn.contains(event.target) && !dropdownMenu.contains(event.target)) {
        dropdownMenu.classList.remove('show-menu');
      }
    });
  </script>
</body>
</html>
